* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100dvw;
  margin: 0;
  padding: 0 !important;
}

/* Experimenting with autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
  border: none;
  -webkit-box-shadow: 0 0 0px 1000px #121212 inset !important;
  box-shadow: 0 0 0px 1000px #121212 inset !important;
  transition: background-color 5000s ease-in-out 0s;
}
